In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('D:/DataSet/Cars/merc.csv')

In [3]:
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [4]:
len(df)

13119

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
train , test = train_test_split(df, train_size = 0.6,random_state = 42 )

In [7]:
train

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
11678,SL CLASS,2019,48500,Automatic,9000,Petrol,145,31.4,4.7
8846,C Class,2019,26599,Semi-Auto,3341,Petrol,145,45.6,1.5
2251,GLE Class,2016,27685,Automatic,13656,Diesel,200,47.9,2.1
1025,C Class,2015,16810,Automatic,44929,Diesel,30,64.2,2.1
10226,A Class,2017,14599,Manual,13869,Diesel,145,80.7,1.5
...,...,...,...,...,...,...,...,...,...
11964,C Class,2019,22980,Automatic,11287,Diesel,145,58.9,1.6
5191,C Class,2016,21500,Semi-Auto,37188,Diesel,20,67.3,2.1
5390,A Class,2017,17200,Semi-Auto,48709,Diesel,20,74.3,1.5
860,C Class,2015,14500,Semi-Auto,38783,Diesel,20,64.2,2.1
7270,GLC Class,2019,34299,Semi-Auto,1224,Diesel,145,42.2,2.1

In [8]:
len(train)

7871

In [9]:
len(train)/len(df)

0.5999695098711793

In [10]:
test

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
9054,A Class,2019,24099,Semi-Auto,3131,Petrol,145,53.3,1.3
8621,GLC Class,2019,31519,Semi-Auto,1000,Diesel,145,47.9,2.0
4104,E Class,2020,59990,Semi-Auto,1500,Petrol,145,31.7,3.0
6044,CL Class,2015,16000,Semi-Auto,57695,Diesel,20,62.8,2.1
7367,SL CLASS,2019,29790,Semi-Auto,2425,Petrol,145,47.9,2.0
...,...,...,...,...,...,...,...,...,...
4032,B Class,2019,21880,Manual,2544,Petrol,145,44.8,1.3
12462,C Class,2016,18450,Automatic,17050,Diesel,30,64.2,2.1
9928,A Class,2014,10775,Automatic,57456,Diesel,20,68.9,2.1
12224,E Class,2017,19000,Automatic,38255,Diesel,150,65.7,2.0
9261,E Class,2019,35849,Semi-Auto,7697,Diesel,145,48.7,3.0

In [11]:
val , test = train_test_split(test, train_size =0.5, random_state = 42 )

In [12]:
val

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
12607,A Class,2019,27994,Automatic,2367,Petrol,150,53.3,1.3
12297,C Class,2018,17100,Automatic,22655,Diesel,145,64.2,2.1
111,C Class,2018,18051,Automatic,11319,Diesel,145,65.7,1.6
12614,E Class,2016,19290,Automatic,31514,Diesel,165,51.4,3.0
2894,B Class,2019,21994,Semi-Auto,7068,Diesel,150,60.1,1.5
...,...,...,...,...,...,...,...,...,...
10076,E Class,2017,21498,Automatic,23084,Diesel,150,61.4,2.0
8001,GLC Class,2020,39999,Semi-Auto,2000,Diesel,145,40.9,2.0
9808,E Class,2015,15990,Automatic,53000,Diesel,145,54.3,3.0
1507,A Class,2017,17695,Semi-Auto,7145,Diesel,150,74.3,1.5
6839,E Class,2017,23899,Semi-Auto,25479,Diesel,145,65.7,2.0

In [13]:
test

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
668,GLA Class,2017,18998,Semi-Auto,18847,Petrol,150,50.4,1.6
12874,E Class,2017,21900,Automatic,35598,Diesel,145,61.4,2.0
742,E Class,2017,20998,Semi-Auto,17890,Diesel,160,52.3,3.0
2008,C Class,2019,29046,Automatic,5971,Diesel,145,61.4,2.0
11177,A Class,2016,15299,Manual,18577,Diesel,20,68.9,1.5
...,...,...,...,...,...,...,...,...,...
29,C Class,2016,19328,Automatic,25042,Diesel,30,64.2,2.1
8768,E Class,2020,40979,Semi-Auto,1000,Diesel,145,57.7,2.0
5627,E Class,2014,13590,Semi-Auto,34840,Diesel,125,58.9,2.1
1145,S Class,2017,27498,Semi-Auto,39872,Diesel,145,50.4,3.0
6203,E Class,2017,21950,Semi-Auto,19156,Diesel,160,52.3,3.0

In [14]:
train.columns

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize'],
      dtype='object')

In [15]:
X = ['model', 'year', 'transmission', 'mileage', 'fuelType', 'tax',
       'mpg', 'engineSize']
cat_features = ['model','transmission','fuelType']

y = ['price']

In [16]:
from catboost import CatBoostRegressor

In [17]:
parameters={'cat_features':cat_features,
           'eval_metric':'MAPE',
           'random_seed': 42,
            'learning_rate':0.2,
           'verbose': 100}

In [18]:
model = CatBoostRegressor(**parameters)

In [19]:
model.fit(train[X],train[y], eval_set = (val[X], val[y]))

0:	learn: 0.3618194	test: 0.3469532	best: 0.3469532 (0)	total: 232ms	remaining: 3m 51s
100:	learn: 0.0747420	test: 0.0802196	best: 0.0802196 (100)	total: 6.74s	remaining: 60s
200:	learn: 0.0650475	test: 0.0730763	best: 0.0730763 (200)	total: 12.5s	remaining: 49.9s
300:	learn: 0.0589631	test: 0.0698911	best: 0.0698530 (298)	total: 20s	remaining: 46.5s
400:	learn: 0.0549987	test: 0.0679364	best: 0.0679223 (399)	total: 28.2s	remaining: 42.1s
500:	learn: 0.0525242	test: 0.0669303	best: 0.0669296 (497)	total: 36.4s	remaining: 36.3s
600:	learn: 0.0503922	test: 0.0659268	best: 0.0659268 (600)	total: 44.1s	remaining: 29.3s
700:	learn: 0.0485922	test: 0.0654196	best: 0.0654102 (699)	total: 49.6s	remaining: 21.2s
800:	learn: 0.0470760	test: 0.0651722	best: 0.0651652 (797)	total: 55s	remaining: 13.7s
900:	learn: 0.0456575	test: 0.0650609	best: 0.0649424 (830)	total: 1m	remaining: 6.66s
999:	learn: 0.0442498	test: 0.0646481	best: 0.0646249 (984)	total: 1m 5s	remaining: 0us

bestTest = 0.06462494604
bestIteration = 984

Shrink model to first 985 iterations.

In [20]:
train_full = pd.concat([train, val])

In [21]:
len(train_full)

10495

In [22]:
parameters = {'cat_features':cat_features,
            'eval_metric':'MAPE',
              'random_seed': 42,
              'verbose' : 100,
              'learning_rate': 0.08,
              'iterations': 985,}

In [23]:
model = CatBoostRegressor(**parameters)

In [24]:
model.fit(train_full[X],train_full[y])

0:	learn: 0.3901764	total: 98.9ms	remaining: 1m 37s
100:	learn: 0.0890555	total: 7.62s	remaining: 1m 6s
200:	learn: 0.0772601	total: 16s	remaining: 1m 2s
300:	learn: 0.0704225	total: 23.9s	remaining: 54.3s
400:	learn: 0.0669548	total: 31.1s	remaining: 45.3s
500:	learn: 0.0639775	total: 39.6s	remaining: 38.3s
600:	learn: 0.0617878	total: 47.7s	remaining: 30.5s
700:	learn: 0.0596913	total: 54.6s	remaining: 22.1s
800:	learn: 0.0582428	total: 1m 1s	remaining: 14.2s
900:	learn: 0.0569188	total: 1m 8s	remaining: 6.4s
984:	learn: 0.0559545	total: 1m 15s	remaining: 0us

In [25]:
test['price_pred_all_features_and_data'] = model.predict(test[X])

In [26]:
test

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,price_pred_all_features_and_data
668,GLA Class,2017,18998,Semi-Auto,18847,Petrol,150,50.4,1.6,19089.081549
12874,E Class,2017,21900,Automatic,35598,Diesel,145,61.4,2.0,20369.225023
742,E Class,2017,20998,Semi-Auto,17890,Diesel,160,52.3,3.0,23705.839378
2008,C Class,2019,29046,Automatic,5971,Diesel,145,61.4,2.0,28885.076426
11177,A Class,2016,15299,Manual,18577,Diesel,20,68.9,1.5,15028.849919
...,...,...,...,...,...,...,...,...,...,...
29,C Class,2016,19328,Automatic,25042,Diesel,30,64.2,2.1,18805.554486
8768,E Class,2020,40979,Semi-Auto,1000,Diesel,145,57.7,2.0,39712.885047
5627,E Class,2014,13590,Semi-Auto,34840,Diesel,125,58.9,2.1,14863.306712
1145,S Class,2017,27498,Semi-Auto,39872,Diesel,145,50.4,3.0,30918.434864
6203,E Class,2017,21950,Semi-Auto,19156,Diesel,160,52.3,3.0,23518.801276

In [27]:
def error(y_true, y_pred):
    print(mean_absolute_error(y_true, y_pred))
    print(mean_absolute_percentage_error(y_true, y_pred))

In [28]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error

In [29]:
error(test['price'],test['price_pred_all_features_and_data'])

1445.3486222560757
0.06548048957788206

In [30]:
train['model']

11678      SL CLASS
8846        C Class
2251      GLE Class
1025        C Class
10226       A Class
            ...
11964       C Class
5191        C Class
5390        A Class
860         C Class
7270      GLC Class
Name: model, Length: 7871, dtype: object

df